
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<title>MORNING FLATIRON SCHOOL</title>
</head>
<body>
<center>
	<br><br>
	<h1> Good Morning</h1>
	<h3>FLATIRON SCHOOL</h3><br>
	<h2>Word of the day</h2>
	<%= @wod_display %><br>
<button class="pure-button pure-button-active">
<i class="fa fa-book"></i> Word of the Day </button><br>
	<h2>Quote</h2>
	"<%= @quote.content %>" <br> - <%= @quote.person%><br><br><br>
	<h2>Subway Status</h2>
	<% @mta.each do |statuses| %>
		<% statuses.each do |status| %>
		<%= status %>
		<% end %><br>
	<% end %><br>

<button class="pure-button pure-button-active" value= "Status"> 
    <i class="fa fa-subway"></i> 123 </button><br>
	<%= flash[:success].html_safe unless flash[:success].blank? %>




<form class="form-horizontal" id="text" action="/text" accept-charset="UTF-8" method="post">

<div class="form-group">
<div class="col-lg-10">
<input type="checkbox" class="pure-button pure-button-active" name="phone[subway]" id="phone_subway" ><br>
</div>

<div class="col-lg-10">

<i class="fa fa-book"></i> Word of the Day 
<input type="checkbox"><br

</div>
<label for="phone_number" class="col-lg-2 control-label">Phone Number</label>
<div class="col-lg-10">
<input type="text" class="form-control" name="phone[number]" id="phone_number" ><br>
</div>

<div class="text-center">
<input type="submit" class = "btn btn-success" name="commit" value="Send Text Message"><br>
</div>

</div>
</div>
</form>

</center>

</body>

</html>
