<center>
	<br><br><br><br>
	<h1><span>Morning</span></h1>
	<h3><span>FLATIRON SCHOOL</span></h3><br>

	<h2>Word of the day: <%= @wotd.word.capitalize %></h2>
	<h3>"<%= @wotd.definition %>"</h3><br>

	<h2>Subway Status</h2>
	<% @mta.each do |statuses| %>
		<% statuses.each do |status| %>
			<%= status%>
		<% end %><br>
	<% end %><br>

		<%= form_tag("morning_app/text") do %>
		<%= label_tag("number", "Enter Phone Number: ") %>
		<%= text_field_tag("number") %><br><br>

		<%= submit_tag "Send Text Message" %>
	<% end %>
</center>