<center>
	<br><br>
	<h1>Morning</h1>
	<h3>FLATIRON SCHOOL</h3><br>

	<h2>Word of the day</h2>
	<%= @wod_display %>"<br>


	<h2>Quote</h2>
	"<%= @quote.content %>" <br> - <%= @quote.person%><br><br><br>

	<h2>Subway Status</h2>
	<% @mta.each do |statuses| %>
		<% statuses.each do |status| %>
			<%= status%>
		<% end %><br>
	<% end %><br>

	<%= flash[:success].html_safe unless flash[:success].blank? %>

		<%= form_tag("morning_app/text") do %>
		<%= label_tag("number", "Enter Phone Number: ") %>
		<%= text_field_tag("number") %><br><br>

		<%= submit_tag "Send Text Message" %>
	<% end %>
</center>